
*{
  font-weight: 600;
  font-stretch: condensed;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #9e234a;
  text-align: center;
  align-items: center;
  
}

#inputValor {
  border: none;
  outline: none;
  padding: 6px;
  border-radius: 2px;
}

.cabec {
  margin-top: 10em;
}

.cabec th {
  background-color: #9e234a;
  color: white;
  border-color: white;
}



button:hover  {
  transform: translate(-.2em,-.2em);
  background-color: #b5b5b5;
}

button i {
  font-size: medium;
}

button {
  transition: .3s;
  cursor: pointer;
  font-size: small;
  border-radius: 4px;
  border: none;
  padding: .5em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: .5EM;
}

h1 {
  margin-bottom: 1em;
  width: 95%;
  font-size: x-large;
  color: white;
  margin: 0 auto;
}

.closeBtn {
  border: none;
  transition: .3s;
  cursor: pointer;
  position: absolute;
  top: .5em;
  right: .5em;
  color: white;
}

table {
    
    transition: .1s;
    width: 95%;
    margin: 0 auto ;
    border-collapse: collapse;
    align-items: start;
  }
  
  th {
    background-color: lightgray;
  }
  th, td {
    max-width: 2em;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }

  .cor1 { background-color: #66ccff; }
    .cor2 { background-color: #7ae2b2; }
    .cor3 { background-color: #ffd966; }
    .cor4 { background-color: #ff7c80; }
    .cor5 { background-color: #d9d9d9; }
    .cor6 { background-color: #33cc33; }
    .cor7 { background-color: #ffeeb9; }

    .modalChave {
      display: none;
      margin: 0 auto;
      position: fixed;
      background-color: rgb(59, 59, 59);
      padding: 2em;
      border-radius: 8px;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
    }

    @media screen and (max-width: 600px) {

      .modalChave {
        width: 70%;
      }

      button {
        font-size: .9em;
        min-height: 3em;
      }
      table {
        width: 100%;
      }

      *{
        font-size: .9em;
      }

      .weeknum,.weekhd{
        display: none;
      }

      th, td {
        max-width: 2em;
        border: 1px solid black;
        padding: 5px;
        text-align: center;
      }
    
      input {
        max-width: 6em;
      }

    }
  
 
